<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mastermind-Thymeleaf</title>
    <link href="/css/stuff.css" rel="stylesheet" media="screen">
</head>
<body id="thymeleaf-body">
    <h1>Mastermind</h1>

    <!--<div id="correct_combiantion">
        <p>Correct combinations was: </p>
        <div id="combation" th:utext="${@mastermindController.combination}"></div>
    </div>-->

    <h2 th:text="${@mastermindController.round}"></h2>

    <a href="/" th:if="${@mastermindController.logged}">Log out</a>
    <a href="/" th:if="not ${@mastermindController.logged}">Log in</a>

    <a th:if="${@mastermindController.evaluate}" href="/mastermind/evaluate">Evaluate</a>
    <a th:if="not ${@mastermindController.evaluate}" href="/mastermind/evaluate">Reset</a>


    <a href="/mastermind/new">New Game</a>


    <span th:utext="${@mastermindController.field}" id="thymeleaf-field"/>

    <hr>
    <h2>History of attempts</h2>
    <div id="history" th:utext="${@mastermindController.history}"></div>

    <hr>
    <div id="isLogged" th:if="${@mastermindController.logged}">
        <form id="form-rating" action="/mastermind/rating">
            <label for="playerRating">Your rating:</label>
            <input id="playerRating" type="text" size="20" name="thmlfRating" maxlength="30" placeholder="number 1 - 10">
            <button type="submit">Rate</button>
        </form>
        <form id="form-comment" action="/mastermind/comment">
            <label for="playerComment">Your comment:</label>
            <textarea id="playerComment"  name="thmlfComment" placeholder="Insert your comment here."></textarea>
            <button type="submit">Comment</button>
        </form>
    </div>
    <hr th:if="${@mastermindController.logged}">
    <span id="dbs">
        <ul>
            <h3>Scores:</h3>
            <li th:each="score : ${scores}">
                <div th:text="'Player: ' + ${score.player} + ', Score: ' + ${score.points}"></div>
            </li>

        </ul>

        <div th:text="'Average rating of game is: ' + ${avgRating}"></div>

        <ul>
            <h3>Comments:</h3>
            <li th:each="comment : ${comments}">
                <div th:text="'Player: ' + ${comment.player} + ', Comment: ' + ${comment.comment}"></div>
            </li>

        </ul>
    </span>

</body>
</html>